<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link  type="text/css" rel="stylesheet" href="/assets/css/dash.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>Lifeline Hospital</h1>
        <nav>
            <ul>
                <li><a href="{{url_for('logout')}}" style="text-decoration: none; color: #444;">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <div class="sidebar">
        
          <span><a href="{{url_for('dashboard')}}">Dashboard</a></span>

          <span><a href="{{url_for('patient')}}">Add Patient</a></span>
          <span><a href="{{url_for('settings')}}">Settings</a></span>
          <span><a href="{{url_for('about')}}">About ℹ️</a></span>
        
      </div>
      <input type="hidden" id="message" value="{{message}}">
      <div class="main-content table_info">
        <table class="table" style="border-radius: 5px;">
          <thead>
            <tr>
              <th scope="col-1">Patient ID</th>
              <th scope="col-2">Patient Name</th>
              <th scope="col-1">Age</th>
              <th scope="col-2">Disease</th>
              <th scope="col-2">Doctor</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for i in patientsData %}
            <tr>
              <td class="patient_id">{{i.patient_id}}</td>
              <td>{{i.patient_name}}</td>
              <td>{{i.patient_age}}</td>
              <td>{{i.patient_disease}}</td>
              <td>{{i.doctor_name}}</td>
              <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="view_details('{{i.patient_id}}')">
                  <a href="/view_patient/{{i.patient_id}}" style="text-decoration: none; color: aliceblue;">View</a>
                </button>

                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal" onclick="edit_patient('{{i.patient_id}}')">
                  <a href="/edit_patient/{{i.patient_id}}" style="text-decoration: none; color: aliceblue;">Edit</a>
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="delete_patient('{{i.patient_id}}')">
                  Delete
                </button>              
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Button trigger modal -->

<!-- Modal -->
        
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="patient_delete('Delete')" >Yes</button>
              </div>
            </div>
          </div>
        </div>
        
      </main>
    <footer>
      <h3>Thank You!</h3>
    </footer>
    <script type="application/javascript">
      let message = document.getElementById('message').value 
      

      
      if(message == 'Login Successful!'){
        alert(message)
      }

      if(message == 'You have no access to this page!'){
        alert(message)
      }

      
      var id
      function delete_patient(data){
        id = data
        console.log(id)
      }

      // function edit_patient(data){
      //   window.location.replace('/edit_patient/'+data)
      // }

      function patient_delete(data){
        if(data==="Delete"){
          $.ajax({
            type : "get",
            url : '/delete_patient/'+id,
            id: id,
            contentType: "application/html; charset=utf-8",
            success: function(data){
              // console.log(data)
              location.reload()
            }
          })
          event.preventDefault();
        }
      }
      
      function view_details(data){
        window.location.replace('/view_patient/'+data)
      }

      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</html>