<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="D:/healthcareIoT/templates/css/home.css" />
    <title>Lifeline Hospital {{request}} {{id}}</title>
  </head>
  <body>
    <header class="bg">
      <nav>
        <ul class="navbar">
          <li class="Log">
            <p>Login</p>
            <ul>
              <li><a href="/templates/login.html">Doctor</a></li>
              <li><a href="/templates/login.html">Nurse</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <h1>Lifeline Hospital</h1>
    </header>
    <main>
      <div class="designs">
        Monitor your Patient!
        <div class="images">
          <img src="/templates/images/monitor1.webp" width="350px" height="250px" alt="monitor"/>
          <img src="/templates/images/monitor2.jpg" width="350px" height="250px" alt="monitor"/>  
        </div>
      </div>

      
    </main>
    <footer>

    </footer>
  </body>
</html>
